div {
	margin: 20px;
	width: 20em;
	height: 15em;
}

div.horitontal-stripes
 {
	 /**
	  * 如果多个色标具有相同的位置，它们会产生一个无限小的过度区域，过度的起止色分别是第一个和最后一个指定值。
	  * 如果把第二个色标的值设置为 0，那它的位置总时会被浏览器调整为前一个色标的位置值。 */
	background: linear-gradient(#fb3 20%, #58a 80%);
	background-size: 100% 30px;
}

div.vertical-stripes{
	/**
	 * liner-gradient 方向默认值是 to bottom 就是从上往下渐变，to right 则是从左往右渐变，也可以是角度值 90deg  */
	background: linear-gradient(to right, #fb3 50%, #58a 0);
	background-size: 30px 100%;
}

div.diagnoal-stripes {
	background: linear-gradient(45deg, 
								#fb3 25%, #58a 0, #58a 50%,
								#fb3 0, #fb3 75%, #58a 0);
	background-size: 42px 42px;
}

div.repeating-linear-stripes {
	background: repeating-linear-gradient(45deg,
								#fb3, #fb3 15px,#58a 0 #58a 30px);
}

div.subtle-stripes {
	background: #58a;
	background-image: repeating-linear-gradient(30deg, 
              hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
              transparent 0, transparent 30px);
}